@keyframes color {
  0% {
    background: #8ef6e4;
  }
  20% {
    background: #9896f1;
  }
  40% {
    background: #d59bf6;
  }
  60% {
    background: #edb1f1;
  }
  80% {
    background: #9896f1;
  }
  100% {
    background: #8ef6e4;
  }
}

body {
  background: #33cccc; /* Fallback */
  animation: color 9s infinite linear;
  text-align: center;
  padding: 2em;
}

li {
  list-style: none;
}

.App {
  text-align: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.box {
  border: 1.5px solid;
  border-radius: 20px;
  background: #fbf2d5;
  margin: 20px;
  padding: 35px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ForecastList {
  display: flex;
  justify-content: center;
}

.f-list {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
